<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Généalogie de Bernard</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<h1>ARBRE GENEALOGIQUE</h1>


<div class="infos">
    <div class="arrow">
        <a href="">back</a>
    </div>
    <div class="card">
        <img src="./images/photo_0.jpg" alt="photo">
        <ul>
            <li><p>Prénom: <span class="color">Bernard</span></p></li>
            <li><p>Nom: <span class="color">Seddon</span></p></li>
            <li><p>Dob: <span class="color">18/2/1807</span></p></li>
            <li><p>Région: <span class="color">Clwyd</span></p></li>
            <li><p><a href="fiche-31.html">Père: <span class="color">Seddon Emmett</span></a></p></li>
            <li><p><a href="fiche-100.html">Mère: <span class="color">Eilers Shawanna</span></a></p></li>
        </ul>
    </div>
    <div class="arrow">
        <a href="">after</a>
    </div>
</div>

<div class="tree">
    <ul>
        <!-- Génération 1 -->
        <li> <a href="fiche-1.html" id="1">Seddon Bernard</a>
            <ul>
                <!-- Génération 2 -->
                <li> <a href="fiche-31.html" id="31"><br/>Seddon Emmett</a>
                    <ul>
                        <!-- Génération 3 -->
                        <li> <a href="fiche-93.html" id="93"><br/>Seddon Raul</a>
                        </li>
                    </ul>
                </li>
                <!-- Génération 2 -->
                <li> <a href="fiche-100.html" id="100"><br/>Eilers Shawanna</a>
                    <ul>
                        <!-- Génération 3 -->
                        <li> <a href="fiche-192.html" id="192"><br/>Eilers Hiram</a>
                        </li>
                        <!-- Génération 3 -->
                        <li> <a href="fiche-139.html" id="139"><br/>Raine Myung</a>
                            <ul>
                                <!-- Génération 4 -->
                                <li> <a href="fiche-95.html" id="95"><br/>Raine Shelton</a>
                                    <ul>
                                        <!-- Génération 5 -->
                                        <li> <a href="fiche-138.html" id="138"><br/>Raine Arlie</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Génération 4 -->
                                <li> <a href="fiche-54.html" id="54"><br/>Kampfner Margrett</a>
                                    <ul>
                                        <!-- Génération 5 -->
                                        <li> <a href="fiche-60.html" id="60"><br/>Kampfner Ollie</a>
                                            <ul>
                                                <!-- Génération 6 -->
                                                <li> <a href="fiche-82.html" id="82"><br/>Kampfner Bronwyn</a>
                                                    <ul>
                                                        <!-- Génération 7 -->
                                                        <li> <a href="fiche-130.html" id="130"><br/>Kampfner Joi</a>
                                                            <ul>
                                                                <!-- Génération 8 -->
                                                                <li> <a href="fiche-185.html" id="185"><br/>Kampfner Flora</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script src="./js/index.js"></script>
</body>
</html>